@page
@model AssessmentWebDev.Pages.Account.Logout

@{
}

<div class="alert-info">
    You should be logged out now and should be automatically redirected to the home page. 
    If that doesn't happen, click here: <a href="/Index">home</a>
</div>
